body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:532px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:410px;
}
#u229 {
  position:absolute;
  left:108px;
  top:55px;
  width:424px;
  height:410px;
}
#u230 {
  position:absolute;
  left:2px;
  top:197px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:114px;
  top:55px;
  width:82px;
  height:28px;
}
#u232 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u233 {
  position:absolute;
  left:115px;
  top:93px;
  width:306px;
  height:17px;
  text-align:left;
}
#u234 {
  position:absolute;
  left:2px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:411px;
}
#u235 {
  position:absolute;
  left:108px;
  top:55px;
  width:1px;
  height:410px;
}
#u236 {
  position:absolute;
  left:2px;
  top:197px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:411px;
}
#u237 {
  position:absolute;
  left:531px;
  top:55px;
  width:1px;
  height:410px;
}
#u238 {
  position:absolute;
  left:2px;
  top:197px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:269px;
  top:423px;
  width:41px;
  height:28px;
  overflow:hidden;
}
#u239_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u239_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
