.cont_right{
	margin-left: 270px;
}
.cont_right .navigation_search{
	width: 100%;
	height: 57px;
	border-bottom: 1px solid #999;
}
.cont_right .table_list{
	width:98%;
	margin: 22px auto;
	height:100%;
}
.table_list table{
	width: 100%;
	text-align: center;
	border: 1px solid #ddd;
	border-left:0px;
}
.table_list tr{
	height:40px;
	border:1px solid #ddd;
}