.container .cont_left{
	width: 270px;
	background-color: #f4f4f4;
	margin-left: -1px;
	position: absolute;
	overflow-x: hidden;
	border-right: 1px solid #999;
	left:0px;
	min-height:100%;
}
.cont_left .navigation_left{
	width:60px;
	background-color: #4cc1d2;
	min-height:1000px;
}
.navigation_left ul{
	width:100%;
	float:left;
	margin-top: 30px;
}
.navigation_left li a{
	width:100%;
	display: block;
	height:55px;
	text-align: center;
	text-decoration: none;
}
.navigation_left .visited{
	background-color: #f4f4f4;
}
.navigation_left li i{
	display: block;
	width: 30px;
	height:30px;
}
.navigation_left li a span{
	color:#ffffff;
}
.navigation_left .visited .orangise{
	background-position: 0px -70px;
}
.navigation_left .visited .publish{
	background-position: -2px -97px;
}
.navigation_left .orangise{
	background-position: -4px -125px;
}
.navigation_left .visited a span{
	color:#4cc1d2;
}
.navigation_left .publish{
	background-position: 0px -25px;
	margin-top: 5px;
}
.navigation_left .visited .system{
	background-position: 0px -150px;
}
.navigation_left .system{
	background-position: 0px -50px;
}
.navigation_right{
	width: 210px;
}
.navigation_right .data_manager{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.data_manager span, .data_manager a{
	color: #565656;
}
.data_info{
	width: 100%;
	background-color: #ffffff;
	max-height: 970px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.data_info .data_name{
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-bottom: 1px solid #4cc1d2;
}
.data_info .tree{
	width: 100%;
}
.data_info .tree a{
	height: 35px;
	display: block;
	line-height: 35px;
	text-decoration: none;
}
.data_info .tree li{
	width: 100%;
	position: relative;
}
.data_info .tree span{
	padding-right: 5px;
}
.data_info .tree li .child_tree{
	width:100%;
}
.ht1{
	width: 100%;
	height:1px;
	background-color: #ddd;
}
.data_info .operate{
	position: absolute;
	top:5px;
	right:0px;
	width: 65px;
	display: none;
}
.operate span{
	display: block;
	width:14px;
	height:20px;
	float: left;
}
.operate .add{
	background-position: -32px -2px;
}
.operate .edit{
	background-position: -54px -2px;
}
.operate .delete{
	background-position: -75px -2px;
}
.parent_node .w50{
	width: 62%;
	margin-left: 0px;
}
.parent_node .edit_input{
	width:80px;
	top: 9px;
	left:25px;
	position: absolute;
	display: none;
}
.node-disabled{color: #DDD7D7;}
.node-disabled span{color: #DDD7D7;}
