		#dialog,#dialog2,#dialog3{display:none;}
		.ui-widget-content{border:0}
		.box{width:450px;height:200px;}
		.selectbar{/*width:565px;*/min-height:30px;}
		.selectbar1{min-height:30px;margin:2px 0}
		.selectbar1 p{float:left;height:30px;line-height:30px;width:200px;}
		.select-range-inner{padding: 0 4px 0;background: #FFF;border: 1px solid #ddd;line-height: 24px;position: relative;min-height:32px;max-height: 90px;
		overflow-y: scroll}
		.select-range-inner1{padding: 0 4px 0;background: #FFF;border: 1px solid #F4F4F4;line-height: 24px;position: relative;min-height:32px;max-height: 60px;
		overflow-y: scroll}
		.select-range-inner2{padding: 0 4px 0;background: #FFF;border: 1px solid #F4F4F4;line-height: 24px;position: relative;min-height:32px;max-height: 264px;
		overflow-y: scroll}
		.selectbar .input-wrapper{display:inline-block;width:100px;}
		.selectbar .input-wrapper2{display:inline-block;width:100px;}
		.selectbar .input-wrapper3{display:inline-block;width:100px;}
		.selectbar1 .input-wrapper{display:inline-block;width:100px;float:left}
		.selected-list{margin:0;padding:0;}
		.selected-list2{margin:0;padding:0;}
		.selected-list3{margin:0;padding:0;}
		.selected-list3 p{float: left;line-height: 34px;}
		.input-tip{cursor:pointer;color:#3D83E9;font-size:12px;height:32px;line-height:32px;}
		.input-tip2{cursor:pointer;color:#3D83E9;font-size:12px;height:32px;line-height:32px;}
		.input-tip3{cursor:pointer;color:#3D83E9;font-size:12px;height:32px;line-height:32px;}
		.input-tip .prefix{width: 10px;height: 10px;background: url(../images/add.png) no-repeat;background-size: 10px 10px;float: left;margin-top: 10px;margin-right: 4px;}
		.input-tip2 .prefix{width: 10px;height: 10px;background: url(../images/add.png) no-repeat;background-size: 10px 10px;float: left;margin-top: 10px;margin-right: 4px;}
		.input-tip3 .prefix{width: 10px;height: 10px;background: url(../images/add.png) no-repeat;background-size: 10px 10px;float: left;margin-top: 10px;margin-right: 4px;}
		.input-field{border-style:none;outline:none;width: 85px;height: 20px;line-height: 20px;margin: 3px 0;padding: 3px 0;padding-left:2px;}
		.input-field2{border-style:none;outline:none;width: 85px;height: 20px;line-height: 20px;margin: 3px 0;padding: 3px 0;padding-left:2px;}
		.input-field3{border-style:none;outline:none;width: 85px;height: 20px;line-height: 20px;margin: 3px 0;padding: 3px 0;padding-left:2px;}
		.selected-item{width: auto;height: 26px;margin: 3px 3px 0 0;float:left;cursor:pointer}
		.remove-h{display: inline-block;width: 14px;background: #0090C6;color: #fff;line-height: 26px;font-size: 12px;text-align: center;float:left;}
		.item-name{display: inline-block;background: #0090C6;margin-right: 1px;line-height: 26px;height: 26px;margin-right: 1px;float: left;color: #fff;
		padding: 0 8px;font-size:12px;}
		.organization-list{width:260px;height:347px;position:absolute;border:1px solid #ddd;z-index:1000;background:#fff;display:none;overflow-y:auto;border-radius:2px;}
		.organization-list2{width:260px;height:347px;position:absolute;border:1px solid #ddd;z-index:1000;background:#fff;display:none;overflow-y:auto;border-radius:2px;}
		.organization-list3{width:260px;height:347px;position:absolute;border:1px solid #ddd;z-index:1000;background:#fff;display:none;overflow-y:auto;border-radius:2px;}
		.search_org{width:250px;height:36px;line-height:36px;margin-left:10px;}
		.name_org{width:100px;height:18px;padding-left:2px;line-height:18px;border:1px solid #ddd;outline:none;}
		.search_btn{display:inline-block;width:50px;height:20px;line-height:19px;text-align:center;border:1px solid #ddd;border-radius:5px;font-size: 12px;color:#000;}
		.search_org select{border:1px solid #ddd;}
		.search_list,.search_tab{display:none;}
		.wrap_search{width:170px;height:22px;margin:10px;float:left;border:1px solid #ddd}
		.search_list .searchbyname,.search_tab .searchbyname{width:150px;height:20px;float:left;border-style:none;outline:none;line-height:24px;padding-left:3px;}
		.check-input{float:left;border-style:none;outline:none;line-height:24px;padding-left:3px;}
		.search_ul{width:235px;margin:5px 10px 3px;padding:0;clear:both;}
		.search_ul li{height:28px;font-size:12px;line-height:28px;padding-left:6px;cursor:pointer}
		.search_ul li:hover{background:#eee;}
		.search_ul .seleceted{background:#eee}
		.search_cancle{display: inline-block;width: 50px;height: 22px;line-height: 22px;text-align: center;border: 1px solid #ddd;border-radius: 5px;font-size: 14px;color: #000;margin:11px 0 0 3px;}
		.bj{margin-top:8px;display:inline-block;}
		.inherit{height: 30px;line-height: 30px;display:none}
		.inherit input{display: inline-block;float: left;margin-top: 8px;margin-left: 28px;margin-right: 5px}
		.inherit span{display: inline-block;width: 100px;float: left;text-align: left;}
		.inherit a{display: inline-block;float: left;color:#3D83E9}
		.org-submit {width: 100%;height: 40px;text-align: center;line-height:40px;}
		.org-submit button {width: 50px;height: 24px;line-height:24px;border-style: none;background: #4acee1;color: #fff;}
		.active{font-weight:bold;}
		.box .label-text{margin-left:10px;color:#aaa;margin-top:5px;margin-bottom:5px;}
		.box .readOnly-text{border: 1px solid #ddd;width: 553px;line-height: 22px;min-height: 16px;margin-bottom: 10px;padding:5px 0;padding-left: 10px;overflow-y: scroll;max-height:85px; } 
		.contact-box{line-height:40px;}
		.set-visibleness .select{background:#ddd;}
		.content-table th,.content-table td{border-left:0;}
		.dialog-contact{width:220px;height:135px;position:absolute;z-index:1000;top: 200px;left: 573px;background: #fff;border: 1px solid #ddd;display:none;}
		.dialog-contact p{height: 85px;line-height: 85px;width: 100%;text-align: center;}
		.dialog-contact .contact-btn{width: 100%;height: 25px;line-height: 25px;}
		.contact-btn a{width: 58px;height: 22px;border-radius: 5px;border: 1px solid #ddd;display: inline-block;text-align: center;margin-left: 33px;}
		.set-visibleness{height: 40px;line-height: 40px;border: 1px solid #ddd;margin-bottom: 10px;}
		.set-visibleness li{list-style: none;width: 49.9%;float: left;text-align: center;cursor:pointer;}
		.borderRight{border-right:1px solid #ddd}
		.see-del-person{width:440px;height:450px;border: 1px solid #ddd;z-index: 1000;background: #fff;display: none;overflow-y: auto;border-radius: 2px;position:absolute;left:737px;}
		.see-del-person p{height:30px;line-height:30px;padding-left:10px;}
		.see-del-person .see-del-submit{width: 50px;height: 24px;line-height: 24px;border-style: none;background: #4acee1;color: #fff;position: absolute;bottom: 12px;left: 195px;cursor:pointer;}
		