html,
body,
div,
span,
ul,
li,
p,
img,
input,
button {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

a {
    text-decoration: none;
}

li {
    list-style-type: none
}

html {
    font-size: 1rem;
}

body {
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0.2rem;
}

.message_info {
    width: 100%;
    min-height: 1.5rem;
    border-bottom: 1px dashed #D6D1D1;
    margin-top: 1.05rem;
}

.message_left {
    width: 100%;
    min-height: 1.5rem;
    float: left;
}

.original {
    min-height: 1.3rem;
}

.message_left .title {
    min-height: 0.3rem;
    margin-top: 0.2rem;
    padding: 0 0.2rem;
    color: #424242;
    font-weight: bold;
    word-break: break-all;
    word-wrap: break-word;
}

.message_left .messageform {
    height: 0.45rem;
    line-height: 0.45rem;
    padding-left: 0.2rem;
    color: #9a9a9a
}

.message_right {
    width: 28.125%;
    height: 0.8rem;
    float: left;
}

.clear-float {
    clear: both;
}

.send_rang {
    width: 71.775%;
    height: 0.37rem;
    margin-top: 0.14rem;
    float: left;
    margin-bottom: 0.2rem;
}

.send_rang a {
    display: block;
    background: url(../images/rang.png) #e4e4e4 no-repeat;
    width: 1.0rem;
    height: 0.4rem;
    margin-left: 0.2rem;
    border-radius: 3px;
    line-height: 0.405rem;
    color: #5d5d5d;
    background-position: 0.1rem center;
    background-size: 0.17rem;
    padding-left: 0.3rem
}

.message_right .confirm {
    display: block;
    width: 1.38rem;
    height: 0.57rem;
    line-height: 0.57rem;
    background: #ffa92e;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

.message_right .confirmed {
    background: #d6d1d1;
    color: #9a9a9a
}

.content {
    width: 100%;
    height: auto;
    padding: 0.1rem 0;
    margin: 0 auto;
}

.con_text_img {
    padding: 0 0.2rem;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 0.5rem;
}

.con_text_img img {
    margin: 0.3rem 0 0;
    max-width: 100%;
}

.bf,
.zt {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 5px;
    background: url(../images/voice.png) no-repeat;
    border-style: none;
    outline: none;
    float: left;
    background-size: 100%
}

.longtime-div {
    display: inline-block;
    margin-left: 0.25rem;
    height: 0.4rem;
    line-height: 0.4rem;
    float: left;
}

.audio_box {
    margin-top: 0.2rem;
    height: 0.7rem;
    width: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0.2rem;
}

.longtime-div .ly {
    height: 20px;
}

.longtime-div .longtime,
.longtime-div .longtime span {
    height: 20px;
    color: #999;
}

.zt {
    background: url(../images/bfing.gif) no-repeat;
    background-size: 100%;
}

ul.con_img {
    width: 6.2rem;
    min-height: 1.28rem;
    padding-right: 0.2rem;
    margin: 0 auto
}

.con_img li {
    float: left;
    width: 1.04rem;
    height: 1.04rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem
}

.con_img li a {
    display: inline-block;
    width: 1.04rem;
    height: 1.04rem
}

.con_img li a img {
    width: 1.04rem;
    height: 1.04rem;
}

.space {
    width: 6.4rem;
    height: 0.1rem;
    clear: both;
}

.bottom {
    width: 98%;
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 100;
    clear: both;
    padding: 0 1%;
    max-width: 640px;
    border-top: 1px solid #E4E4E4
}

.bottom li {
    height: 0.98rem;
    line-height: 0.98rem;
    float: left;
    text-align: center;
}

.bottom .reply,
.bottom .praise {
    width: 28%;
}

.bottom .read,
.bottom .join {
    width: 44%;
}

.bottom .sign {
    width: 69%;
    border-right: 1px solid #eee;
}

.bottom .more {
    width: 30%;
}

.bottom a {
    color: #5f5f5f;
}

.reply a img {
    width: 0.42rem;
    height: 0.4rem;
    vertical-align: middle;
}

.read a img {
    width: 0.42rem;
    height: 0.4rem;
    vertical-align: middle;
}

.sign a img {
    width: 0.42rem;
    height: 0.4rem;
    vertical-align: middle;
}

.more a img {
    width: 0.44rem;
    height: 0.12rem;
    vertical-align: middle;
}

.join a img {
    width: 0.33rem;
    height: 0.36rem;
    vertical-align: middle;
}

.praise a img {
    width: 0.4rem;
    height: 0.34rem;
    vertical-align: middle;
}

.accessory {
    width: 100%;
    height: auto;
    margin-top: 0.2rem;
    border-top: 1px dashed #E4E4E4;
    padding-top: 0.1rem;
}

.accessory a {
    display: block;
    line-height: 0.5rem;
    margin-left: 0.2rem;
    color: #5f5f5f
}

.two {
    width: 50%!important;
}

.one {
    width: 100%!important;
}

.space-bottom {
    width: 6.4rem;
    height: 0.98rem;
}

.line {
    width: 2.3rem;
    float: left;
    border-bottom: 1px solid #dddddd;
    height: 0.2rem;
}

.line-text {
    width: 1.7rem;
    float: left;
    text-align: center;
}

.cut-off {
    margin-top: 0.8rem;
}

.cutline {
    border-top: 1px solid #dddddd;
}

.reply-btn {
    width: 6.4rem;
    height: 1.05rem;
    background: #fafafa;
    border-bottom: 1px solid #dcdcdc;
    position: fixed;
    top: 0
}

.reply-btn ul {
    margin-left: 0.13rem;
    padding-top: 0.11rem;
}

.reply-btn ul li {
    width: 1.48rem;
    height: 0.53rem;
    float: left;
}

.reply-btn ul li button {
    width: 1.25rem;
    height: 0.53rem;
    background: #37c3f8;
    color: #fff;
    border: 0;
    border-style: none;
    border-radius: 5px
}

.reply-btn p {
    clear: both;
    height: 0.4rem;
    line-height: 0.42rem;
    margin-left: 0.14rem;
    color: #5f5f5f
}

.reply-answer {
    display: none;
    width: 6.4rem;
    min-height: 0.75rem;
    background: #f9f9f9;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: -1.05rem;
}

.fixed {
    position: fixed;
    top: 0;
}

.reply-answer .refuse-reason-text {
    line-height: 0.3rem;
    padding: 0 0.2rem 0.1rem;
    color: #999;
    display: none;
    word-break: break-all;
    word-wrap: break-word;
}

.reply-answer .idea {
    height: 0.75rem;
    line-height: 0.75rem;
    margin-left: 0.2rem;
}

.idea span {
    display: inline-block;
    height: 0.75rem;
    line-height: 0.76rem;
}

.idea .change-idea {
    color: #36c4f6;
    margin-left: 0.3rem;
}

.idea .img {
    width: 0.28rem;
    height: 0.17rem;
    float: right;
    margin-top: 0.3rem;
    margin-right: 0.22rem;
    display: none;
    background: url("../images/down.png") no-repeat;
    background-size: 100%;
}

.idea .up {
    background: url("../images/up.png") no-repeat;
    background-size: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #656262;
    opacity: .3;
}

.refuse-reason {
    display: none;
    width: 6.4rem;
    height: 3.47rem;
    top: 2rem;
    position: fixed;
    z-index: 101;
}

.refuse-reason .reason-box {
    width: 5.18rem;
    height: 3.47rem;
    background: #fff;
    margin: 0 auto;
    box-shadow: 1px 1px 8px #656262;
    border-radius: 5px;
}

.reason-box .refuse-btn {
    height: 0.76rem;
    line-height: 0.76rem;
    border-bottom: 1px solid #c7c7c7
}

.reason-box .refuse-btn span,
.reason-box .refuse-btn a {
    display: inline-block;
    float: left;
}

.refuse-btn .cancel {
    width: 0.8rem;
    text-align: center;
    color: #c7c7c7
}

.refuse-btn .title {
    width: 3.58rem;
    text-align: center;
}

.refuse-btn .publish {
    width: 0.8rem;
    text-align: center;
    color: #37c3f8
}

.refuse-content {
    height: 2.2rem;
}

.refuse-content textarea {
    width: 97%;
    height: 2.2rem;
    border: 0;
    outline: 0;
    resize: none;
    padding: 0 1%;
    line-height: 0.4rem;
}

.refuse-reason .footer {
    height: 0.48rem;
    line-height: 0.48rem;
    text-align: right;
    width: 5rem;
    color: #c7c7c7
}

.time-out {
    margin-bottom: -1.05rem;
    display: none;
    padding-left: 0.2rem;
    width: 6.2rem;
    height: 0.75rem;
    background: #f9f9f9;
    border-bottom: 1px solid #dcdcdc;
    line-height: 0.75rem;
    color: #5f5f5f;
}

.startTime,
.endTime {
    padding: 0 0.2rem 0.08rem;
    color: #828282;
}

.place {
    padding: 0 0.2rem 0.25rem;
    color: #828282;
}

.meetingPlace,
.meetingType {
    padding: 0 0.2rem 0.08rem;
    color: #828282;
}

.org {
    padding: 0 0.2rem 0.25rem 0.38rem;
    color: #828282;
}

.more-oprate {
    width: 100%;
    min-height: 2.86rem;
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 101;
    display: none;
    max-width: 640px;
}

.more-oprate div {
    width: 100%;
    min-height: 2.04rem;
}

.more-oprate div .img {
    height: 0.7rem;
}

.more-oprate .title {
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #8d8d8d;
}

.more-oprate .cancel {
    color: #f16362;
    display: block;
    height: 0.84rem;
    text-align: center;
    line-height: 0.84rem;
    border-top: 1px solid #eee;
}

.qiandao-img {
    width: 0.5rem;
    height: 0.46rem;
}

.bmdc-img {
    width: 0.45rem;
    height: 0.45rem;
}

.huiyijiyao-img {
    width: 0.35rem;
    height: 0.46rem;
}

.seeqingjia-img {
    width: 0.46rem;
    height: 0.44rem;
}

.qddc-img {
    width: 0.44rem;
    height: 0.41rem;
}

.more-oprate div .img li {
    width: 1.2rem;
    float: left;
    text-align: center;
    margin-top: 0.2rem;
}

.more-oprate div .text {
    clear: both;
    height: 0.6rem;
}

.more-oprate div .text li {
    width: 1.2rem;
    float: left;
    text-align: center;
    height: 0.6rem;
    line-height: 0.6rem;
}

.more-oprate div .text li a {
    color: #000
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #656262;
    opacity: .3;
    display: none;
}

.accessory {
    width: 100%;
    height: auto;
    margin-top: 0.2rem;
    border-top: 1px dashed #E4E4E4;
    padding-top: 0.1rem;
}

.accessory-one {
    margin: 0 3%;
    min-height: 0.8rem;
    padding-bottom: 0.01rem;
    border-bottom: 1px solid #e6e6e6;
}

.accessory .accessory-one:last-child {
    border: none;
}

.accessory img {
    width: 0.6rem;
    height: 0.6rem;
    float: left;
    margin-top: 0.05rem;
    margin-right: 0.16rem;
}

.accessory a {
    display: block;
    line-height: 0.3rem;
    color: #5f5f5f;
}

.right {
    margin-top: 0.1rem;
}

.right p {
    width: 5.35rem;
    margin-left: 0.67rem;
}

.right p a {
    word-wrap: break-word;
    width: 5.2rem;
    display: inline-block;
}

@media screen and (min-width: 400px) {
    body {
        font-size: 20px;
    }
    .message_info {
        font-size: 21px;
    }
    .messageform {
        font-size: 16px;
    }
    .send_rang a {
        font-size: 15px;
    }
    .message_right .confirm {
        font-size: 18px;
    }
    .con_text_img {
        font-size: 20px;
    }
    .longtime-div .ly {
        font-size: 16px;
    }
    .longtime-div p,
    .longtime-div p span {
        font-size: 14px;
    }
    .bottom {
        font-size: 17px;
    }
    .accessory a,
    .right p {
        font-size: 16px;
    }
    .reply-btn ul li button {
        font-size: 20px;
    }
    .reply-btn p {
        font-size: 16px;
    }
    .reply-answer .idea span {
        font-size: 20px;
    }
    .refuse-btn .publish,
    .refuse-btn .cancel,
    .refuse-content textarea,
    .refuse-reason .footer {
        font-size: 16px;
    }
    .reply-answer .refuse-reason-text {
        font-size: 17px;
    }
    .startTime,
    .endTime,
    .place,
    .meetingPlace,
    .meetingType,
    .org {
        font-size: 18px;
    }
    .more-oprate .title,
    .more-oprate div .text li {
        font-size: 18px;
    }
}

@media screen and (min-width:321px) and (max-width:400px) {
    body {
        font-size: 18px;
    }
    .message_info {
        font-size: 19px;
    }
    .messageform {
        font-size: 14px;
    }
    .send_rang a {
        font-size: 13px;
    }
    .message_right .confirm {
        font-size: 15px;
    }
    .con_text_img {
        font-size: 18px;
    }
    .longtime-div .ly {
        font-size: 15px;
    }
    .longtime-div p,
    .longtime-div p span {
        font-size: 13px;
    }
    .bottom {
        font-size: 15px;
    }
    .accessory a,
    .right p {
        font-size: 15px;
    }
    .reply-btn ul li button {
        font-size: 18px;
    }
    .reply-answer .idea span {
        font-size: 20px;
    }
    .reply-btn p {
        font-size: 14px;
    }
    .refuse-btn .publish,
    .refuse-btn .cancel,
    .refuse-content textarea,
    .refuse-reason .footer {
        font-size: 14px;
    }
    .startTime,
    .endTime,
    .place,
    .meetingPlace,
    .meetingType,
    .org {
        font-size: 16px;
    }
    .more-oprate .title,
    .more-oprate div .text li {
        font-size: 16px;
    }
}

@media screen and (max-width:321px) {
    body {
        font-size: 16px;
    }
    .message_info {
        font-size: 17px;
    }
    .messageform {
        font-size: 13px;
    }
    .send_rang a {
        font-size: 10px;
    }
    .message_right .confirm {
        font-size: 14px;
    }
    .con_text_img {
        font-size: 16px;
    }
    .longtime-div .ly {
        font-size: 14px;
    }
    .longtime-div p,
    .longtime-div p span {
        font-size: 12px;
    }
    .bottom {
        font-size: 14px;
    }
    .accessory a,
    .right p {
        font-size: 14px;
    }
    .reply-btn ul li button {
        font-size: 16px;
    }
    .reply-btn p {
        font-size: 12px;
    }
    .refuse-btn .publish,
    .refuse-btn .cancel,
    .refuse-content textarea,
    .refuse-reason .footer {
        font-size: 12px;
    }
    .startTime,
    .endTime,
    .place,
    .meetingPlace,
    .meetingType,
    .org {
        font-size: 14px;
    }
    .more-oprate .title,
    .more-oprate div .text li {
        font-size: 14px;
    }
}